## Variable declaration

In [10]:
var1 = 2
var2 = 5.0
var3 = "Welcome to Machine Learning"
var4 = True

In [12]:
print("Value of Val1", var1)
print("Value of Val2", var2)
print("Value of Val3", var3)
print("Value of Val4", var4)

Value of Val1 2
Value of Val2 5.0
Value of Val3 Welcome to Machine Learning
Value of Val4 True

In [16]:
# checking datatype
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [18]:
# conditional statements
if var1 > 1:
    print("Bigger than 1")

Bigger than 1

In [22]:
x = 10
y = 12

if x > y:
    print("x>y")
elif x < y:
    print("x < y")
else:
    print("x = y")

x < y

In [26]:
# Generating Number sequences
n = range(1, 10)
print(n)

range(1, 10)

In [28]:
# for Loop
for i in n:
    print(i)

1
2
3
4
5
6
7
8
9

In [30]:
# while loop

j = 1
while (j<5):
    j = j+1
    print(j)

2
3
4
5

List are like arrays but can contain heterogeneous items, that is, a items of type integer, float, string, or objects. It is also not a uni items, that is the values can be

In [46]:
import csv

fn = "placement.csv"
fields = []
rows = []

with open(fn, 'r') as csvfile:
    csvreader = csv.reader(csvfile)
    fields = next(csvreader)

    for row in csvreader:
        rows.append(row)
    print("Total no. of rows: %d", (csvreader.line_num))

print('Field names are: ', ', '.join(field for field in fields))

# printing first 5 rows
print('\nFirst 5 rows are:\n')

for row in rows[:5]:
    #parsing each column of a row
    for col in row:
        print("%10s" % col, end=" "),
    print("\n")

Total no. of rows: %d 101
Field names are:  , cgpa, iq, placement

First 5 rows are:

         0        6.8      123.0          1

         1        5.9      106.0          0

         2        5.3      121.0          0

         3        7.4      132.0          1

         4        5.8      142.0          0

In [ ]:
import json